@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
  }
}
.bgClip {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.footer-clip {
  clip-path: polygon(50% 80px, 100% 0, 100% 100%, 0 100%, 0 0);
}
ion-icon {
  font-size: 24px;
  color: white;
}
